
  .navbar { margin-bottom: 0; }

  .navbar-inner {
    background: #006cd1;
    background: -moz-linear-gradient(top, #006cd1 0%, #46bae9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006cd1), color-stop(100%,#46bae9));
    background: -webkit-linear-gradient(top, #006cd1 0%,#46bae9 100%);
    background: -o-linear-gradient(top, #006cd1 0%,#46bae9 100%);
    background: -ms-linear-gradient(top, #006cd1 0%,#46bae9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006cd1', endColorstr='#46bae9',GradientType=0 );
    background: linear-gradient(top, #006cd1 0%,#46bae9 100%);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }

    .navbar-inner .container {
      width: 940px;
      margin: 0 auto;
    }

      .navbar .nav > li > a {
        color: #fff;
        font-size: 15px;
      }


/* Clearfix */

.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after { clear:both; }
.cf { *zoom:1; }